<div class="sesiones">
    <div class="overlay">
        <div class="sesionesChild">

<h1> Error Sign Up/Login</h1>
{{#if errorMessage}}
        <div class="alert alert-danger" role="alert">
            {{ errorMessage }}
        </div>
    {{/if}}
<a href="/signup" class="cuentas">¿No tienes cuenta?</a>
<a href="/restore" class="cuentas">¿Has olvidado tu contraseña?</a>

</div>
</div>
</div>