<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restablecer Contraseña</title>
</head>
<body>
  

<div class="sesiones">
  <div class="overlay">
    <div class="sesionesChild">
      <h1>Restablecer Contraseña</h1>

      <form id="restorePasswordForm" class="sessionForm">
        <p>Nueva Contraseña:</p>
        <input type="password" name="newPassword" id="newPassword" placeholder="Nueva Contraseña" required>
        <p>Confirmar Contraseña:</p>
        <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirmar Contraseña" required>
        <input type="submit" value="Restablecer" class="sessionButton">
        <div id="messageContainer"></div>
      </form>
    </div>
  </div>
</div>
<script src="/js/restorePassword.js"></script>
</body>
</html>