<div class="sesiones">
    <div class="overlay">
    <div class="sesionesChild">
<h1>Restaurar Contraseña</h1>
<form action="/api/sessions/restore" method="post" class="sessionForm">
<p>Correo Electronico :</p>
<input type="email" name="email" id="email" placeholder="Email" required>
<p> Nueva Contraseña :</p>
<input type="password" name="password" id="password" placeholder="Contraseña" required>

<input type="submit" value="Restaurar" class="sessionButton">
</form>

</div>

</div>
</div>