<div class="sesiones">
    <div class="overlay">
<div class="sesionesChild">
<h1>Registrarse</h1>
<form action="/api/sessions/signup" method="post" class="sessionForm">
<p>Nombre De Usuario :</p>
<input type="text" name="Usuario" id="Usuario" placeholder="Nombre de Usuario" required>

<p>Correo Electronico :</p>
<input type="email" name="email" id="email" placeholder="Email" required>

<p>Contraseña :</p>
<input type="password" name="password" id="password" placeholder="Contraseña" required>



<input type="submit" value="Sign Up" class="sessionButton">
</form>

<a href="/login" class="cuentas">¿Ya tienes cuenta?</a>
<p class="inicioPorTerceros">Registro por terceros:</p>
<a href='/api/sessions/auth/github'class="githubButton">
<img src="https://marketing4ecommerce.net/wp-content/uploads/2018/06/GitHub-logo-2-imagen.jpg" alt="Logo de GitHub" /></a>


</div>

</div></div>